**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/.metadata.json
/.reading-states
/.fat32-epoch
/.thumbnail-previews
/.trash
/css/*-user.css
/hyphenation-patterns
/dictionaries
/dist
/bundle
/thirdparty/*/*
!/thirdparty/*/*kobo*

emulator_sysroot/.reading-states/
emulator_sysroot/.thumbnail-previews/
emulator_sysroot/.fat32-epoch
emulator_sysroot/**/*.json
emulator_sysroot/**/*.png
emulator_sysroot/*.pdf
